body {
  --light-color: #d9dcd6;
  --dark-color: rgb(45, 45, 45);
  --red-color: #C05858;
  --cream-color: #FBF2D7;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
}

header {
  background-color: var(--red-color);
  border: groove white;
  border-width: 10px;
  color: var(--cream-color);
}

#portrait {
  width: 60%;
  margin: 1em auto;
  display: flex;
}

h1 {
  padding: 1em;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: large;
  margin: 2em;
}


ul {
  display: flex; 
  flex-direction: column;
}

h1 {
  align-self: center;
}

li {
  margin: .5em;
}

ul a {
  color: var(--cream-color);
  align-self: center;
}

ul a:hover {
  font-size: larger;
}

section section {
  margin: .5em auto;
  border: .5em;
  padding: .5em;
}

section section img:hover, #feature-project img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

section section img {
  width: 100%;
  margin: 1em auto;
}

#about {
  text-align: center;
  margin: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#feature-project {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

#feature-project img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: 1em auto;
}

.description {
  color: black;
  font-size: 1em;
  font-weight: 200;
  font-style: italic;
  margin-bottom: .1em;
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
  padding: 2em 0 2em 0;
  text-align: center;
}

/* For Desktop */

@media only screen and (min-width: 800px) {
  #portrait {
    width: 15%;
    border-radius: 100%;
  }
  
  #feature-project {
    width: 70%;
  }

  section section {
    width: 45%;
  }

  header {
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  ul {
    flex-direction: row;
  }
}

